.line-section {
    position: relative;
    text-align: center;
  }
  
  .line {
    border: none;
    border-top: 1px solid #737373;
    width: 80px;
  }
  
  .text {
    position: absolute;
    color: #737373;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 10px;
  }
  